DB_HOST=host_banco
DB_USER=user_banco
DB_PASSWORD=senha_banco
DB_NAME=nome_banco
CLIENT_ID=id_cliente
CLIENT_SECRET=cliente_cliente
FLASK_SECRET=chave_secreta_flask
EMAIL_SENDER=email_remetente
EMAIL_PASSWORD=senha_email
GPT_API=api_chatgpt