<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Acesso encerrado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icone.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/acesso_encerrado.css') }}">
</head>
<body>

    <div class="card">
        <h1>Acesso encerrado</h1>

        <p>
            Seu acesso a este site foi encerrado.
        </p>

        <p>
            Consulte a coordenação se acha que isto é um erro.
        </p>

        <a href="/Logout">Deslogar</a>
    </div>

</body>
</html>