<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">
    <title>BADESP - Ajuda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Ajuda.css') }}">
    <script src="{{ url_for('static', filename='js/Ajuda.js') }}" defer></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>

    {% if usuario %}
    <header class="cabecalho glass">
        <button class="menu-btn"><span class="material-icons">menu</span></button>
        <h1 class="titulo">B.A.D.E.S.P</h1>
        <div class="perfil">
            <img src="{{usuario[3]}}" alt="Logado como: {{ usuario[1] }}">
        </div>
    </header>

    <nav class="sidebar glass sobreposto">
        <ul>
            <li><a href="/Inicio"><span class="material-icons">home</span> Início</a></li>
            <li><a href="/Ajuda"><span class="material-icons">help_outline</span> Ajuda</a></li>
            {% if cargo == 'Aluno' %}
            <style>
                body {
                    background: linear-gradient(90deg, #242458, #3e3e74);
                }

                .painel-container {
                    background: rgba(25, 25, 60, 0.9);
                }
            </style>
            <li><a href="/Denuncia"><span class="material-icons">report</span> Fazer Denúncia</a></li>
            {% elif cargo == 'Secretaria' or cargo == 'Professor' %}
            <style>
                body {
                    background: linear-gradient(135deg, #242424, #353535);
                }
            </style>
            <li><a href="/MudarPIN"><span class="material-icons">pin</span> Mudar o PIN</a></li>
            {% endif %}

            <!-- DESLOGAR VERMELHO -->
            <li><a href="/Logout" class="logout" onclick="confirmarLogout()"><span class="material-icons">logout</span>
                    Deslogar</a></li>
        </ul>
    </nav>
    {% else %}
    <style>
        body {
            background: linear-gradient(90deg, #242458, #3e3e74);
        }
    </style>
    <header class="cabecalho glass">
        <button class="menu-btn"><span class="material-icons">menu</span></button>
        <h1 class="titulo">B.A.D.E.S.P</h1>
        <div class="perfil">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5wt2-sE3VgB3SwwpeW9QWKNvvN3JqOFlUSQ&s" >
        </div>
    </header>

    <nav class="sidebar glass sobreposto">
        <ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li><a href="/Login" class="inicio"><span class="material-icons">login</span> Fazer Login</a></li>
        </ul>
    </nav>
    {% endif %}

    {% if usuario %}
    {% if cargo == 'Aluno' %}
    <main id="ajuda">
        <div class="painel">
            <div class="faq">
                <h3>Como posso fazer a alteração do meu PIN?</h3>
                <p>Somente a secretaria poderá fazer a mudança do PIN da sua conta.</p>
            </div>
            <div class="faq">
                <h3>Posso apagar uma denúncia?</h3>
                <p>Sim, você poderá apagar a denúncia, porém, antes dela ser aberta pelos professores ou pela secretária, após isso a denúncia NÃO PODERÁ MAIS SER APAGADA.</p>
            </div>
            <div class="faq">
                <h3>Posso logar com qualquer E-mail?</h3>
                <p>Não, apenas com o seu E-mail institucional.</p>
            </div>
            <div class="faq">
                <h3>Quantas denúncias eu posso realizar?</h3>
                <p>Você poderá realizar uma denúncias a cada 30 minutos.</p>
            </div>
            <div class="faq">
                <h3>Posso fazer alterações nas denúncias após o envio?</h3>
                <p>Não, as denúncias permanecem do mesmo jeito e a única alternativa é apaga-la.</p>
            </div>
            <div class="faq">
                <h3>Minha denúncia expirou, o que posso fazer?</h3>
                <p>Após uma Denúncia ser expirada, você tem a opção de apaga-la ou reenviar.</p>
            </div>
            <div class="faq">
                <h3>Minhas denúncias são anônimas?</h3>
                <p>Sim e Não, ela é anônima entre os alunos porém a secretaria e os professores tem acesso total ao que foi enviado.</p>
            </div>
            <div class="faq">
                <h3>Esqueci meu PIN o que devo fazer?</h3>
                <p>Você deverá recorrer diretamente com a secretaria ou algum professor para fazer a alteração de seu PIN.</p>
            </div>
        </div>
    </main>
    
    {% endif %}

    {% if cargo == 'Secretaria' or cargo == 'Professor' %}
    <main id="ajuda">
        <div class="painel">
            <div class="faq">
                <h3>Como posso fazer a alteração do PIN de um aluno?</h3>
                <p>Você deve ir até a opção no menu com o nome "MudarPIN", lá você escolhe o ano e a sére do aluno e após isso você altera para o PIN desejado.</p>
            </div>
            <div class="faq">
                <h3>Como posso Aprovar/Recusar/Arquivar alguma denúncia?</h3>
                <p>Você deve escolher e abrir a Denúncia do aluno desejado e la você pode escolher entre: Aprovar, Recusar ou Arquivar a Denúncia.</p>
            </div>
            <div class="faq">
                <h3>Há algum tempo limite para as denúncias?</h3>
                <p>Sim, após aberto qualquer denúncia, haverá um prazo de até 7 dias para haver alguma resposta, senão ela entrará automaticamente para o status: "Expirado"</p>
            </div>
            <div class="faq">
                <h3>Posso fazer algum comentário falando com o Aluno sobre o ocorrido?</h3>
                <p>Sim, logo embaixo das opções de denúncias, você tem a opção de deixar um comentario opcional para o aluno.</p>
            </div>
            <div class="faq">
                <h3>Esqueci meu PIN o que posso fazer?</h3>
                <p>Você deve entrar em um link do site para alterar o seu PIN novamente.</p>
            </div>
        </div>
    </main>
    {% endif %}
    {% else %}
    <main id="ajuda">
    <div class="painel">
        <div class="faq">
            <h3>Como posso fazer Login?</h3>
            <p>Você deve usar o E-mail Institucional do Gmail vinculado a seu RA, sendo nesse formato: 0000RAUF@al.educacao.sp.gov.br</p>
        </div>
        <div class="faq">
            <h3>Eu não sei a minha senha do Gmail Institucional/Esqueci a senha</h3>
            <p>Você deverá redefinir a sua senha do google diretamente com a secretaria ou com algum professor na sed.</p>
        </div>
        <div class="faq">
            <h3>É Obrigatório usar o E-mail Institucional?</h3>
            <p>Sim, o E-mail Institucional é obrigatório para evitar denuncias onde não se sabe quem é o dono.</p>
        </div>
    </div>
    </main>
    {% endif %}

    <script>
        function confirmarLogout() {
            // Retorna true para ir para /logout ou false para cancelar
            return confirm("Você tem certeza que quer deslogar?");
        }

        // ACORDEÃO FAQQQQQQQ
        const faqs = document.querySelectorAll('#ajuda .faq');

        faqs.forEach(faq => {
            // Anexar o ouvinte de eventos diretamente ao elemento pai (.faq)
            faq.addEventListener('click', () => {
                // Fecha outras FAQs abertas
                faqs.forEach(f => {
                    if (f !== faq) {
                        f.classList.remove('active');
                    }
                });
                // Alterna a FAQ clicada
                faq.classList.toggle('active');
            });
        });

    </script>

    <script>
        const btn = document.querySelector('.menu-btn');
        const sidebar = document.querySelector('.sidebar');

        btn.addEventListener('click', () => sidebar.classList.toggle('ativo'));

        function confirmarLogout() {
            if (confirm("Deseja realmente sair?")) {
                alert("Logout realizado com sucesso!");
            }
        }

        // ===== FECHAR MENU CLICANDO FORA + REDIRECIONAR P/ INÍCIO =====
        document.addEventListener("click", (e) => {
            const clicouFora = !sidebar.contains(e.target) && !btn.contains(e.target);

            if (sidebar.classList.contains("ativo") && clicouFora) {
                sidebar.classList.remove("ativo");
            }
        });
    </script>

</body>

</html>