<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alunos Cadastrados</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='aluno.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

  <header class="Cabecalho">
    <header class="cabecalho glass">
      <button class="menu-btn"><span class="material-icons">menu</span></button>
      <h1 class="titulo">B.A.D.E.S.P</h1>
      <div class="perfil">
        <img src="{{ usuario[3] }}" alt="Logado como: {{ usuario[1] }}">
      </div>
    </header>
  
    <nav class="sidebar glass sobreposto">
      <ul>
        <li><a href="/Inicio"><span class="material-icons">home</span> Início</a></li>
        <li><a href="/Ajuda"><span class="material-icons">help_outline</span> Ajuda</a></li>
        <li><a href="/MudarPIN"><span class="material-icons">pin</span> Mudar o PIN</a></li>
  
        <!-- DESLOGAR VERMELHO -->
        <li><a href="/Logout" class="logout" onclick="confirmarLogout()"><span class="material-icons">logout</span> Deslogar</a></li>
      </ul>
    </nav>

  <main>
  <form method="get" action="{{ url_for('rotasecretaria.listar_alunos') }}">

    <select name="Ano" onchange="this.form.submit()">
        <option value="Todos" {% if filtro_ano=='Todos' %}selected{% endif %}>Todos</option>
        <option value="6" {% if filtro_ano=='6' %}selected{% endif %}>6EF</option>
        <option value="7" {% if filtro_ano=='7' %}selected{% endif %}>7EF</option>
        <option value="8" {% if filtro_ano=='8' %}selected{% endif %}>8EF</option>
        <option value="9" {% if filtro_ano=='9' %}selected{% endif %}>9EF</option>
        <option value="1" {% if filtro_ano=='1' %}selected{% endif %}>1EM</option>
        <option value="2" {% if filtro_ano=='2' %}selected{% endif %}>2EM</option>
        <option value="3" {% if filtro_ano=='3' %}selected{% endif %}>3EM</option>
    </select>
  
    <select name="Serie" {% if filtro_ano=='Todos' %}disabled{% endif %} onchange="this.form.submit()">
        <option value="Todos" {% if filtro_serie=='Todos' %}selected{% endif %}>Todos</option>
        <option value="A" {% if filtro_serie=='A' %}selected{% endif %}>A</option>
        <option value="B" {% if filtro_serie=='B' %}selected{% endif %}>B</option>
        <option value="C" {% if filtro_serie=='C' %}selected{% endif %}>C</option>
        <option value="D" {% if filtro_serie=='D' %}selected{% endif %}>D</option>
    </select>
  </form>
  
  
  <div class="content">  
  <div class="container">
    <h2>Alunos Cadastrados</h2>
    <table id="tabelaAlunos">
      <div class="pagination" style="align-items: center; text-align: center;">
        {% set current_page = page %}
        {% if current_page < 1 %}{% set current_page = 1 %}
        {% elif current_page > total_pages %}{% set current_page = total_pages %}{% endif %}
      
        {% if current_page > 1 %}
          <a class="clicar" href="{{ url_for('rotasecretaria.listar_alunos', page=current_page-1) }}">&laquo; Anterior</a>
        {% endif %}
      
        <span style="color: white; " class="Páginaa">Página {{ current_page }} de {{ total_pages }}</span>
      
        {% if current_page < total_pages %}
          <a class="clicar" href="{{ url_for('rotasecretaria.listar_alunos', page=current_page+1) }}">Próxima &raquo;</a>
        {% endif %}
      </div>
      <br>
      <thead>
        
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Ano</th>
          <th>Turma</th>
          <th>Total Denúncias</th>
          <th>Denúncias Aprovadas</th>
        </tr>
      </thead>
      
      <tbody>
        {% for d in alunos_por_turma %}

        
        {% if nome != "📂Denúncia em aberto📂" %}
        <tr onclick="verificarPin({{ d[0] }})"
          style="cursor:pointer; color: {{ cor }}; font-family: Arial, sans-serif;">

          <td>{{ d[0] }}</td>
          <td>{{ d[2] }}</td>
          <td>{{ d[3] }}°</td>
          <td>{{ d[1] }}</td>
          <td>{{ d[4] }}</td>
          <td>{{ d[5] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
   </div>
  </div>
</main>

<script>
  const btn = document.querySelector('.menu-btn');
  const sidebar = document.querySelector('.sidebar');

  btn.addEventListener('click', () => sidebar.classList.toggle('ativo'));

  function confirmarLogout() {
    if (confirm("Deseja realmente sair?")) {
      alert("Logout realizado com sucesso!");
    }
  }

  // ===== FECHAR MENU CLICANDO FORA + REDIRECIONAR P/ INÍCIO =====
  document.addEventListener("click", (e) => {
    const clicouFora = !sidebar.contains(e.target) && !btn.contains(e.target);

    if (sidebar.classList.contains("ativo") && clicouFora) {
      sidebar.classList.remove("ativo");
    }
  });
</script>
</body>
</html>