<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Painel de Denúncias</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/denuncia.css') }}">
  <script src="{{ url_for('static', filename='js/denuncias.js') }}" defer></script>
</head>
<body>

   <header class="Cabecalho">
  
    <h1 class="nome">Segurança Nas Escolas Públicas</h1>

      <button class="menu-btn">☰</button>

      <!-- Menu lateral -->
      <nav class="sidebar">
        <ul>
          <li><a href="/Inicio">Início</a></li>
          <li><a href="/Ajuda">Ajuda</a></li>
          <li><a href="/Denuncia">Fazer Denúncia</a></li>
          <li><a href="/Logout" onclick="return confirmarLogout()">Deslogar</a></li>
        </ul>
      </nav>
    </header>
  
  <div class="form-container">
    <h1>Enviar Denúncia</h1>
    <form id="form-denuncia" method="POST">
      <input type="text" id="titulo" placeholder="Título da denúncia" required name="titulo">

      <select id="gravidade" required name="gravidade">
        <option value="">Ocorrido</option>
        <option value="Agressão">Agressão (física, verbal, psicológica, moral e sexual)</option>
        <option value="Destruição Patrimônial">Destruição Patrimônial </option>
        <option value="Falta de Recursos">Falta de Recursos</option>
        <option value="Atitudes Inadequadas">Atitudes Inadequadas</option>
        <option value="Outros">Outros</option>
      </select>
      
      <textarea id="resposta" placeholder="Denúncia:" required name="descricao"></textarea>
      <button type="submit">Enviar Denúncia</button>
    </form>
  </div>

  <script>
  const form = document.getElementById('form-denuncia');

  form.addEventListener('submit', function(event) {
    event.preventDefault(); // Impede o envio automático

    // Pergunta de confirmação
    const confirmado = confirm("Você tem certeza que quer enviar esta denúncia? Após enviar você não poderá editar, se você enviar, só poderá APAGAR ANTES DA SECRETARIA ABRIR sua denuncia, caso seja visualizada você NÃO PODERÁ MAIS APAGAR SUA DENUNCIA.");
    if (!confirmado) {
      return;
    }

    alert("Sua denúncia foi enviada com sucesso!");

    form.submit();

    function confirmarLogout() {

    return confirm("Você tem certeza que quer deslogar?");
    }
  });
</script>

</body>
</html>
