<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">
  <title>B.A.D.E.S.P - Denúncia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='denuncia_aberta.css') }}">
  <script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

  <header class="cabecalho glass">
    <button class="menu-btn"><span class="material-icons">menu</span></button>
    <h1 class="titulo">B.A.D.E.S.P</h1>
    <div class="perfil">
      <img src="{{ usuario2['foto'] }}" alt="Logado como: {{ usuario2['nome'] }}">
    </div>
  </header>

  <nav class="sidebar glass sobreposto">
    <ul>
      <li><a href="/Inicio"><span class="material-icons">home</span> Início</a></li>
      <li><a href="/Ajuda"><span class="material-icons">help_outline</span> Ajuda</a></li>

      {% if tipo_usuario == 'Aluno' %}
      <style>
        body {
          background: linear-gradient(90deg, #242458, #3e3e74);
        }

        .painel-container {
          background: rgba(25, 25, 60, 0.9);
        }
      </style>

      <li><a href="/Denuncia"><span class="material-icons">report</span> Fazer Denúncia</a></li>
      {% elif tipo_usuario == 'secretaria'%}
      <style>
        body {
          background: linear-gradient(135deg, #242424, #353535);
        }
      </style>

      <li><a href="/MudarPIN"><span class="material-icons">pin</span> Mudar PIN</a></li>
      <li><a href="/Turmas"><span class="material-icons">groups</span> Turmas</a></li>
      {% endif %}
      <li><a href="/Feedback"><span class="material-icons">campaign</span> Feedback</a></li>
      <li><a href="/Logout" class="logout" onclick="confirmarLogout(event)"><span class="material-icons">logout</span>
          Deslogar</a></li>
    </ul>
  </nav>

  <main>
    <div class="painel-container">
      <h2>
        {% if tipo_usuario == 'secretaria' %}
        Denúncia de: {{ usuario['nome'] }}
        <br>
        {% else %}
        {{ usuario['titulo'] }}
        <br>
        {% endif %}
        <br>
      </h2>

      {% if usuario %}
      {% if usuario['gravidade'] == 'Alta' %}
      {% set corr = "red" %}
      {% elif usuario['gravidade'] == 'Média' %}
      {% set corr = "yellow" %}
      {% elif usuario['gravidade'] == 'Baixa' %}
      {% set corr = "rgb(0, 255, 0)" %}
      {% endif %}

      <div class="denuncia-card" id="denuncia-{{ usuario['id'] }}">
        {% if tipo_usuario == 'secretaria' %}
        <h3>{{ usuario['titulo'] }}</h3>
        <br>
        {% endif %}
        <p>Ocorrido: {{ usuario['tipo'] }}</p>
        <br>
        <div class="envolvidos-container">
          <strong>Envolvidos:</strong>

          {% if envolvidos and envolvidos != '[]' and envolvidos|length > 0 %}

          <div class="lista-tags">
            {% set lista = envolvidos.split(',') if envolvidos is string else envolvidos %}

            {% for pessoa in lista %}
            {# Remove espaços extras que podem vir do split #}
            {% set p = pessoa.strip() %}

            {% if loop.last and loop.index > 1 %}
            {# Se for o último e não for o único, coloca o 'e' antes #}
            <span class="tag-aluno"> e <b>{{ p }}</b>.</span>

            {% elif loop.last %}
            {# Se for o único da lista #}
            <span class="tag-aluno"><b>{{ p }}</b>.</span>

            {% elif loop.revindex0 == 1 %}
            {# Se for o penúltimo, não coloca vírgula agora, pois o próximo terá o 'e' #}
            <span class="tag-aluno"><b>{{ p }}</b></span>

            {% else %}
            {# Para todos os outros casos, coloca vírgula #}
            <span class="tag-aluno"><b>{{ p }}</b>,</span>
            {% endif %}
            {% endfor %}
          </div>

          {% else %}
          {# 4. Caso contrário, mostra o aviso #}
          <span class="aviso-vazio">Não foi identificado nenhum envolvido.</span>
          {% endif %}
        </div>
        <br>
        <p style="color: {{ corr }};">Gravidade:⚠️{{ usuario['gravidade'] }}⚠️</p>
        <br>

        <p>Denúncia:</p>
        <textarea disabled style="
    width: 100%; 
    height: 100px; 
    resize: none; 
    text-align: start; 
    vertical-align: top; 
    padding: 5px;  
    box-sizing: border-box;  
    overflow-y: auto;   /* permite scroll vertical */
    cursor: pointer;
">{{ usuario['descricao_ia'] }}</textarea>
        <br>
        <br>
        <br>

        <p>Denúncia sem correção:</p>
        <textarea disabled style="
    width: 100%; 
    height: 100px; 
    resize: none; 
    text-align: start; 
    vertical-align: top; 
    padding: 5px;  
    box-sizing: border-box;  
    overflow-y: auto;   /* permite scroll vertical */
    cursor: pointer;
">{{ usuario['descricao'] }}</textarea>
        <br>
        <br>
        <p>Data: {{ usuario['data'] }}</p>
        <br>
        {% if usuario['status'] == 'Aprovado.' %}
        <p style="color: rgb(0,255,0);">✔️Aprovado por: {{ usuario['visto'] }}✔️</p>
        {% elif usuario['status'] == 'Recusado.' %}
        <p style="color: red;">❌Recusado por: {{ usuario['visto'] }}❌</p>
        {% elif usuario['status'] == 'Arquivado.' %}
        <p style="color: gray;">🗃️Arquivado por: {{ usuario['visto'] }}🗃️</p>
        {% elif usuario['status'] == 'Visto.' %}
        <p style="color: orange;">🔎Visualizado por: {{ usuario['visto'] }} às {{ usuario['datavisto'] }}🔎</p>
        {% elif usuario['status'] == 'Em Análise.' %}
        <p style="color: white;">⏳Esperando resposta...⏳</p>
        {% elif usuario['status'] == 'Expirada.' %}
        <p style="color: gray;">⏰Expirada⏰</p>
        <br>
        {% else %}
        <p>Erro de status.</p>
        {% endif %}

        {% if usuario['cargo'] == 'Professor' and usuario['especifico'] != 'any' %}
        <p><b>Destinado ao Professor:</b> {{ usuario['especifico'] }}</p>
        {% elif usuario['cargo'] == 'Secretaria' and usuario['especifico'] != 'any' %}
        <p><b>Destinado ao Secretário(a):</b> {{ usuario['especifico'] }}</p>
        {% elif usuario['cargo'] == 'Professor' and usuario['especifico'] == 'any' %}
        <p><b>Destinado a todos os Professores.</b></p>
        {% elif usuario['cargo'] == 'Secretaria' and usuario['especifico'] == 'any' %}
        <p><b>Destinado a toda a Gestão.</b></p>
        {% endif %}
        <br>
        {% if usuario['comentario'] %}
        <p><b>Comentário de {{ usuario['visto'] }}:</b> {{ usuario['comentario'] }}</p>
        {% else %}
        <p>Ainda não há comentário vinculado.</p>
        {% endif %}
      </div>

      {% if tipo_usuario == 'secretaria' %}
      <br>
      <form action="{{ url_for('rotasecretaria.aprovar', id=usuario['id']) }}" method="GET"
        onclick="return confirmarAbrir()">
        <button type="submit" class="abrir-btn">Aprovar</button>
      </form>
      <br>

      <form action="{{ url_for('rotasecretaria.recusar', id=usuario['id']) }}" method="GET"
        onclick="return confirmarRecusar()">
        <button type="submit" class="abrir-btn">Recusar</button>
      </form>
      <br>
      <form action="{{ url_for('rotasecretaria.arquivar', id=usuario['id']) }}" method="GET"
        onclick="return confirmaArquivar()">
        <button type="submit" class="abrir-btn">Arquivar</button>
      </form>
      <br>
      {% if not usuario['comentario'] %}
      <br>
      <br>
      <form action="{{ url_for('rotasecretaria.comentar', id=usuario['id']) }}" method="POST">
        <textarea name="comentario" maxlength="255" placeholder="Adicionar comentário..."
          style="text-align: center;"></textarea>
        <button type="submit" class="abrir-btn" onclick="return confirmarTexto()">Enviar</button>
      </form>
      {% endif %}

      {% else %}
      {% if usuario['status'] in ['Em Análise.', 'Expirada.'] %}
      <form class="apagar-form" action="{{ url_for('rotas.excluir_denuncia', id=usuario['id']) }}" method="POST">
        <button type="submit" class="buttozito">Apagar</button>
      </form>
      <br>
      {% endif %}

      {% if usuario['status'] == 'Expirada.' %}
      <form class="reenviar-form" action="{{ url_for('rotas.reenviar_denuncia', id=usuario['id']) }}" method="POST">
        <input type="hidden" name="titulo" value="{{ usuario['titulo'] }}">
        <input type="hidden" name="tipo" value="{{ usuario['tipo'] }}">
        <input type="hidden" name="descricao" value="{{ usuario['descricao'] }}">
        <input type="hidden" name="quem" value="{{ usuario['cargo'] }}">
        <input type="hidden" name="pessoa" value="{{ usuario['especifico'] }}">
        <button type="submit">Reenviar</button>
      </form>
      {% endif %}
      {% endif %}
      {% else %}
      <p>Erro ao carregar denúncia.</p>
      {% endif %}
    </div>
  </main>

  <script>

    function confirmarAbrir() { return confirm("Deseja aprovar esta denúncia?"); }
    function confirmaArquivar() { return confirm("Deseja arquivar esta denúncia?"); }
    function confirmarRecusar() { return confirm("Deseja recusar esta denúncia?"); }
    function confirmarTexto() { return confirm("Deseja enviar um comentário? Você só pode comentar uma vez."); }
    function confirmarLogout() { return confirm("Deseja deslogar?"); }
  </script>

  <script>
    const btn = document.querySelector('.menu-btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => sidebar.classList.toggle('ativo'));

    function confirmarLogout(e) {
      e.preventDefault();          // trava o link
      e.stopPropagation();        // trava qualquer outro evento

      if (confirm("Deseja realmente sair?")) {
        window.location.href = "/Logout";
      }

      return false;
    }

    // ===== FECHAR MENU CLICANDO FORA + REDIRECIONAR P/ INÍCIO =====
    document.addEventListener("click", (e) => {
      const clicouFora = !sidebar.contains(e.target) && !btn.contains(e.target);

      if (sidebar.classList.contains("ativo") && clicouFora) {
        sidebar.classList.remove("ativo");
      }
    });
  </script>

  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  
</body>

</html>