<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='OIP.jpg') }}">
  <title>SNEP - Painel de Denúncias</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='denuncia_aberta.css') }}">
  <script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>
</head>

<body>
  <header class="Cabecalho">
    <nav>
      <h1 class="nome">Segurança Nas Escolas Públicas</h1>
    </nav>

    <button class="menu-btn">☰</button>

    <!-- Menu lateral -->
    <nav class="sidebar">
      <ul>
        <li><a href="/Inicio">Início</a></li>
        <li><a href="/Ajuda">Ajuda</a></li>
        <li><a href="/Denuncia">Fazer Denúncia</a></li>
        <li><a href="/Logout" onclick="return confirmarLogout()"><i class="fas fa-user-circle"></i>Deslogar</a></li>
        <li><a href="/MudarPin"><i class="fas fa-cog"></i> Mudar o PIN</a></li>
      </ul>
    </nav>
  </header>

  <div class="painel-container">
    <h1>Denúncia de: {{ usuario['nome'] }}</h1>
    <div id="denuncias-container">
      {% if usuario %}
      <div class="denuncia-card" id="denuncia-{{ usuario['id'] }}">
        <h3>{{ usuario['titulo'] }}</h3>
        <p>Ocorrido: {{ usuario['gravidade'] }}</p>
        <p>Denúncia:</p>
        <br>
        <textarea disabled style="
    width: 750px; 
    height: 100px; 
    resize: none; 
    text-align: start; 
    vertical-align: top; 
    padding: 5px;  
    box-sizing: border-box;  
    overflow-y: auto;   /* permite scroll vertical */
    cursor: pointer;
">
{{ usuario['descricao'] }}
</textarea>
        <p>Data: {{ usuario['data'] }}</p>
        {% if usuario['status'] == 'Aprovado.' %}
        <p><span style="color: rgb(0, 255, 0);">Situação: ✔️Aprovado por: {{usuario['visto']}}✔️</span></p>
        {% elif usuario['status'] == 'Recusado.' %}
        <p><span style="color: red;">Situação: ❌Recusado por: {{usuario['visto']}} ❌ </span></p>
        {% elif usuario['status'] == 'Arquivado.' %}
        <p><span style="color: rgb(198, 198, 198);">Situação: 🗃️Arquivado por: {{usuario['visto']}}🗃️</span></p>
        {% elif usuario['status'] == 'Visto.' %}
        <p><span style="color: orange;">🔎Situação: Visualizado por: {{ usuario['visto'] }} ás {{ usuario['datavisto']}}🔎<span><p>
        {% elif usuario['status'] == 'Em Análise.' %}
        <p><span style="color: rgb(255, 255, 255);">Situação: ⏳Esperando Resposta...⏳</span></p>
        {% elif usuario['status'] == 'Expirada.' %}
        <p><span style="color: gray;">⏰Situação: Expirado.⏰<span></p>
        {% else %}
        <p>??? erro.</p>
        {% endif %}
        {% if usuario['cargo'] == 'Professor' and usuario['especifico'] != 'any' %}
        <p><b>Esta denúncia foi destinada somente para você!</b></p>
        {% elif usuario['cargo'] == 'Secretaria' and usuario['especifico'] != 'any' %}
        <p><b>Esta denúncia foi destinada somente para você!</b></p>
        {% endif %}

        {% if usuario['cargo'] == 'Professor' and usuario['especifico'] == 'any' %}
        <p><b>Esta denúncia foi destinada apenas para Professores!</b></p>
        {% elif usuario['cargo'] == 'Secretaria' and usuario['especifico'] == 'any' %}
        <p><b>Esta denúncia foi destinada apenas para a gestão!</b></p>
        {% endif %}
        {% if usuario['comentario'] != '' %}
        <p><b>Comentario vinculado a denúncia: </b>{{ usuario['comentario'] }}</p>
        {% else %}
        <p>Ainda não há comentário vinculado a esta denúncia.</p>
        {% endif %}
      </div>

      <form action="{{ url_for('rotasecretaria.aprovar', id=usuario['id']) }}" method="GET"
        onclick="return confirmarAbrir()">
        <button type="submit" class="abrir-btn">Aprovar</button>
      </form>
      <br>
      <form action="{{ url_for('rotasecretaria.recusar', id=usuario['id']) }}" method="GET"
        onclick="return confirmarRecusar()">
        <button type="submit" class="abrir-btn">Recusar</button>
      </form>
      <br>
      <form action="{{ url_for('rotasecretaria.arquivar', id=usuario['id']) }}" method="GET"
        onclick="return confirmaArquivar()">
        <button type="submit" class="abrir-btn">Arquivar</button>
      </form>
      {% else %}
      <p>Erro.</p>
      {% endif %}
      <br>
      {% if usuario['comentario'] == '' %}
      <div class="comentario">
        <form action="{{ url_for('rotasecretaria.comentar', id=usuario['id']) }}" method="POST">
          <textarea name="comentario" style="text-align: center;"
            placeholder="Deseja adicionar um comentario?"></textarea>
          <button type="submit" class="abrir-btn" onclick="return confirmarTexto()">Enviar</button>
        </form>
        {% else %}
        <p style="align-items: center; text-align: center;">Comentario já feito.</p>
        {% endif %}
      </div>


    </div>
  </div>

  <script>
    // Toggle menu lateral
    const btn = document.querySelector('.menu-btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => {
      sidebar.classList.toggle('active');
    });

    function confirmarAbrir() {
      return confirm("Deseja Confirmar a Aprovação desta denúncia?");
    }
    function confirmaArquivar() {
      return confirm("Deseja Arquivar esta denúncia?");
    }
    function confirmarRecusar() {
      return confirm("Deseja Recusar esta denúncia?");
    }
    function confirmarTexto() {
      return confirm("Deseja enviar um comentario sobre esta denúncia? Você pode comentar somente UMA vez por denúncia");
    }

    function confirmarLogout() {

      return confirm("Você tem certeza que quer deslogar?");
    }



  </script>


</body>

</html>