<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='OIP.jpg') }}">
  <title>BADESP - Denuncia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='denuncia_aberta.css') }}">
  <script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>
</head>

<body>
  <header class="Cabecalho">
    <nav>
      <h1 class="nome">Segurança Nas Escolas Públicas</h1>
    </nav>

    <button class="menu-btn">☰</button>

    <!-- Menu lateral -->
    <nav class="sidebar">
      <ul>
        <li><a href="/Inicio">Início</a></li>
        <li><a href="/Ajuda">Ajuda</a></li>
        <li><a href="/Denuncia">Fazer Denúncia</a></li>
        <li><a href="/Logout" onclick="return confirmarLogout()"><i class="fas fa-user-circle"></i>Deslogar</a></li>
         
      </ul>
    </nav>
  </header>

  <div class="painel-container">
    <h1>{{ usuario['titulo'] }}</h1>
    <div id="denuncias-container">
      {% if usuario %}
      {% if usuario['gravidade'] == 'Alta' %}
      {% set corr = "red" %}
      {% elif usuario['gravidade'] == 'Média' %}
      {% set corr = "yellow" %}
      {% elif usuario['gravidade'] == 'Baixa' %}
      {% set corr = "rgb(0, 255, 0)" %}
      {% endif %}
      <div class="denuncia-card" id="denuncia-{{ usuario['id'] }}">
        <h3>{{ usuario['titulo'] }}</h3>
        <p>Ocorrido: {{ usuario['tipo'] }}</p>
        <p style="color: {{ corr }};">Gravidade: {{ usuario['gravidade'] }}</p>

        <p>Denúncia: </p>
        <textarea disabled style="
    width: 750px; 
    height: 100px; 
    resize: none; 
    text-align: start; 
    vertical-align: top; 
    padding: 5px;  
    box-sizing: border-box;  
    overflow-y: auto;   /* permite scroll vertical */
    cursor: pointer;
">
{{ usuario['descricao_ia'] }}
</textarea>
        <p>Denúncia sem correção:</p>
        <br>
        <textarea disabled style="
    width: 750px; 
    height: 100px; 
    resize: none; 
    text-align: start; 
    vertical-align: top; 
    padding: 5px;  
    box-sizing: border-box;  
    overflow-y: auto;   /* permite scroll vertical */
    cursor: pointer;
">
{{ usuario['descricao'] }}
</textarea>
        <p>Data: {{ usuario['data'] }}</p>
        {% if usuario['status'] == 'Aprovado.' %}
        <p><span style="color: rgb(0, 255, 0);">Situação: ✔️Aprovado por: {{usuario['visto']}}✔️</span></p>
        {% elif usuario['status'] == 'Recusado.' %}
        <p><span style="color: red;">Situação: ❌Recusado por: {{usuario['visto']}} ❌ </span></p>
        {% elif usuario['status'] == 'Arquivado.' %}
        <p><span style="color: rgb(198, 198, 198);">Situação: 🗃️Arquivado por: {{usuario['visto']}}🗃️</span></p>
        {% elif usuario['status'] == 'Visto.' %}
        <p><span style="color: orange;">🔎Situação: Visualizado por: {{ usuario['visto'] }} ás {{
            usuario['datavisto']}}🔎<span>
              <p>
                {% elif usuario['status'] == 'Em Análise.' %}
              <p><span style="color: rgb(255, 255, 255);">Situação: ⏳Esperando Resposta...⏳</span></p>
              {% elif usuario['status'] == 'Expirada.' %}
              <p><span style="color: gray;">⏰Situação: Expirado.⏰<span></p>
              {% else %}
              <p>??? erro.</p>
              {% endif %}
              {% if usuario['cargo'] == 'Professor' and usuario['especifico'] != 'any' and usuario['especifico'] != None
              %}
              <p><b>Destinado ao Professor:</b> {{usuario['especifico']}}</p>
              {% elif usuario['cargo'] == 'Secretaria' and usuario['especifico'] != 'any' and usuario['especifico'] !=
              None %}
              <p><b>Destinado ao Secretario(a):</b> {{usuario['especifico']}}</p>
              {% endif %}

              {% if usuario['cargo'] == 'Professor' and usuario['especifico'] == 'any' and usuario['especifico'] != None
              %}
              <p><b>Destinado somente aos Professores.</b></p>
              {% elif usuario['cargo'] == 'Secretaria' and usuario['especifico'] == 'any' and usuario['especifico'] !=
              None %}
              <p><b>Destinado somente a gestão.</b></p>
              {% elif usuario['especifico'] == None %}
              <p><b>Erro, porfavor faça o envio da denuncia novamente</b></p>
              {% endif %}
              {% if usuario['comentario'] != '' %}
              <p><b>Comentario feito por {{usuario['visto']}}: </b>{{ usuario['comentario'] }}</p>
              {% else %}
              <p>Ainda não há comentário para esta denúncia.</p>
              {% endif %}
      </div>

      {% if usuario['status'] == 'Em Análise.' %}
      <form class="apagar-form" action="{{ url_for('rotas.excluir_denuncia', id=usuario['id']) }}" method="POST">
        <button type="submit" class="buttozito">Apagar</button>
      </form>
      {% elif usuario['status'] == 'Expirada.' %}
      <form class="apagar-form" action="{{ url_for('rotas.excluir_denuncia', id=usuario['id']) }}" method="POST">
        <button type="submit" class="buttozito">Apagar</button>
      </form>
      <br>
      <form class="reenviar-form" action="{{ url_for('rotas.reenviar_denuncia', id=usuario['id']) }}" method="POST">
        <input type="hidden" name="titulo" value="{{ usuario['titulo'] }}">
        <input type="hidden" name="tipo" value="{{ usuario['tipo'] }}">
        <input type="hidden" name="descricao" value="{{ usuario['descricao'] }}">
        <input type="hidden" name="quem" value="{{ usuario['cargo'] }}">
        <input type="hidden" name="pessoa" value="{{ usuario['especifico'] }}">

        <button type="submit">Reenviar</button>
      </form>
      {% else %}
      <div class="botãooff">
        <form class="apagar-form" method="POST">
          <button type="submit" disabled>Apagar</button>
        </form>
      </div>
      {% endif %}
      {% else %}
      <p>Erro.</p>
      {% endif %}
      <br>
    </div>


  </div>
  </div>

  <script>
    // Toggle menu lateral
    const btn = document.querySelector('.menu-btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => {
      sidebar.classList.toggle('active');
    });

    function confirmarAbrir() {
      return confirm("Deseja Apagar essa denúncia?");
    }

    function confirmarLogout() {

      return confirm("Você tem certeza que quer deslogar?");
    }



  </script>


</body>

</html>