<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='iniciosecretaria.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='OIP.jpg') }}">
    <title>BADESP - Inicio</title>
</head>
 <header class="Cabecalho">
    
    <h1 class="nome">B.A.D.E.S.P</h1>
    
    <button class="menu-btn">☰</button>

    <nav class="sidebar">
      <ul>
        <li><a href="/Inicio">Início</a></li>
        <li><a href="/Ajuda">Ajuda</a></li>
        <li><a href="/Denuncia">Fazer Denúncia</a></li>
        <li><a href="/MudarPIN"> Mudar o PIN</a></li>
        <li><a href="/Logout" onclick="return confirmarLogout()"><i class="fas fa-user-circle"></i>Deslogar</a></li>
      </ul>
    </nav>

    <div class="profile-icon">
      <img src="{{ usuario[3] }}">
    </div>
  </header>
<body>

    <br>
    <br>
    <br> 
   <div class="main-content">
        <div class="dashboard-container">
            <a href="/Abertas" class="card card-5">
                <p class="card-large-text">Denúncias </p>
                <p class="card-small-text">Abertas</p>


            </a>
            <a href="/Denuncias" class="card card-6">
                <p class="card-large-text">Novas </p>
                <p class="card-small-text">Denúncias</p>

            </a>
            <a href="#" class="card card-7">
                <p class="card-large-text">Alunos</p>
                <p class="card-small-text">Cadastrados</p>
            </a>

            <a href="/Resolvidas" class="card card-8">
                <p class="card-large-text">Denúncias </p>                
                <p class="card-small-text">Resolvidas</p>
            </a>
        </div>
    </div>

    <script>
        const menuBtn = document.querySelector('.menu-btn');
        const sidebar = document.querySelector('.sidebar');
        
        menuBtn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
        });
    </script>
</body>
</html>
