<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='iniciosecretaria.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=pin" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <title>B.A.D.E.S.P - Inicio</title>
</head>

<body>

  <header class="cabecalho glass">
    <button class="menu-btn"><span class="material-icons">menu</span></button>
    <h1 class="titulo">B.A.D.E.S.P</h1>
    <div class="perfil">
        {% if usuario %}
        <p>Bem vindo: {{ usuario['nome'] }}!</p>
        {% elif usuario2 %}
        <p>Bem vindo: {{ usuario2['nome'] }}!</p>
        {% elif nome %}
        <p>Bem vindo: {{ nome }}!</p>
        {% else %}
        <p>Bem vindo: Convidado!</p>
        {% endif %}
    </div>
  </header>

  <nav class="sidebar glass sobreposto">
    <ul>
      <li><a href="/Inicio"><span class="material-icons">home</span> Início</a></li>
      <li><a href="/Ajuda"><span class="material-icons">help_outline</span> Ajuda</a></li>
      <li><a href="/MudarPIN"><span class="material-icons">pin</span> Mudar PIN</a></li>
      <li><a href="/Turmas"><span class="material-icons">groups</span> Turmas</a></li>
      <li><a href="/Feedback"><span class="material-icons">campaign</span> Feedback</a></li>

      <li><a href="/Logout" class="logout" onclick="confirmarLogout(event)"><span class="material-icons">logout</span>
          Deslogar</a></li>
    </ul>
  </nav>

  <br>
  <br>
  <br>
  <div class="main-content">
    <div class="dashboard-container">
      <a class="card card-5" onclick="verificarPin('Abertas', 'Abertas')">
        <p class="card-large-text">Denúncias </p>
        <p class="card-small-text">Abertas</p>


      </a>
      <a class="card card-6" onclick="verificarPin('Denuncias', 'Novas')">
        <p class="card-large-text">Novas </p>
        <p class="card-small-text">Denúncias</p>

      </a>
      <a class="card card-7" onclick="verificarPin('Alunos', 'Alunos')">
        <p class="card-large-text">Alunos</p>
        <p class="card-small-text">Cadastrados</p>
      </a>

      <a class="card card-8" onclick="verificarPin('Resolvidas', 'Resolvidas')">
        <p class="card-large-text">Denúncias </p>
        <p class="card-small-text">Resolvidas</p>
      </a>
    </div>
  </div>

  <script>
    const btn = document.querySelector('.menu-btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => sidebar.classList.toggle('ativo'));

    function confirmarLogout(e) {
      e.preventDefault();          // trava o link
      e.stopPropagation();        // trava qualquer outro evento

      if (confirm("Deseja realmente sair?")) {
        window.location.href = "/Logout";
      }

      return false;
    }

    // ===== FECHAR MENU CLICANDO FORA + REDIRECIONAR P/ INÍCIO =====
    document.addEventListener("click", (e) => {
      const clicouFora = !sidebar.contains(e.target) && !btn.contains(e.target);

      if (sidebar.classList.contains("ativo") && clicouFora) {
        sidebar.classList.remove("ativo");
      }
    });
  </script>

  <script>
    async function verificarPin(rota, valor) {

      const pin = prompt(`Digite seu PIN para abrir esta página`);
      if (!pin) return;

      try {
        const response = await fetch(`{{ url_for('rotas.verificar_pin') }}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ pin: pin })
        });

        const result = await response.json();

        if (result.status === "ok") {

          const form = document.createElement("form");
          form.method = "POST";
          form.action = `/allow_folder`;
          document.body.appendChild(form);

          const inputIdzin = document.createElement("input");
          inputIdzin.type = "hidden";
          inputIdzin.name = "nome";
          inputIdzin.value = valor
          form.appendChild(inputIdzin);
          document.body.appendChild(form);
          form.submit();
        } else {
          alert(result.mensagem || "PIN incorreto. Tente novamente.");
        }

      } catch (error) {
        console.error("Erro ao verificar o PIN:", error);
        alert("Erro no servidor. Tente novamente mais tarde.");
      }
    }
  </script>

  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

</body>

</html>