<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icone.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/cadastro.css') }}">
    <title>B.A.D.E.S.P - Entrar</title>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</head>

<body data-url="{{ tipo }}">
    <div class="container">

        {% if tipo == '/Login/Secretaria/callback' %}
        <form action="{{ url_for('rotalogin.login_secretaria') }}" method="POST">
            <br>
            <h1>Entrar Secretaria</h1>
            <br><br>

            <!-- O botão do Google fica aqui -->
            <div id="googleSignInBtn"></div>

            <br>
            <a href="/Ajuda" style="color:rgb(121, 132, 206);">Alguma Dúvida Referente ao site?</a>
            <br><br>
        </form>

        {% elif tipo == '/Login/Professor/callback' %}
        <form action="{{ url_for('rotalogin.login_professor') }}" method="POST">
            <br>
            <h1>Entrar Professor</h1>
            <br><br>

            <!-- O botão do Google fica aqui -->
            <div id="googleSignInBtn"></div>

            <br>
            <a href="/Ajuda" style="color:rgb(121, 132, 206);">Alguma Dúvida Referente ao site?</a>
            <br><br>
        </form>

        {% else %}
        <form action="{{ url_for('rotalogin.cadastro') }}" method="POST">
            <br>
            <h1>Entrar</h1>
            <br><br>

            <!-- O botão do Google fica aqui -->
            <div id="googleSignInBtn"></div>

            <br>
            <a href="/Ajuda" style="color:rgb(121, 132, 206);">Alguma Dúvida Referente ao site?</a>
            <br><br>
        </form>
        {% endif %}
    </div>

</body>

</html>
