<!DOCTYPE html>
<html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
    <script>
     function formatarCPF(cpf) {
        cpf = cpf.replace(/\D/g, ""); 
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
        return cpf;
     }

     function mascaraCPF(event) {
        let cpf = event.target.value;
        cpf = formatarCPF(cpf);
        event.target.value = cpf;
     }

     function googleSignIn() {
     gapi.auth2.getAuthInstance().signIn().then(function(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId());
        console.log("Nome: " + profile.getName());
        console.log("Email: " + profile.getEmail());
       });
     }


     function initGoogleSignIn() {
         gapi.load('auth2', function() {
         gapi.auth2.init({
            client_id: '334998652961-c43b5pt422pnfqk98t56pu4d6aphi5fe.apps.googleusercontent.com'
           });
        });
     }


     window.onload = initGoogleSignIn;
    </script>
 </head>
  <body>
     <div class="container">
        <form>
            <h1>Login</h1>

            <div class="input-container">
                <input id="cpf" placeholder="CPF" type="text" oninput="mascaraCPF(event)" maxlength="14" required>
                <img width="15" height="15" src="user.png" alt="user"/>
            </div>

            <div class="input-container">
                <input placeholder="Senha" type="password" required>
                <img width="15" height="15" src="lock--v1.png" alt="lock"/>
                <a href="EsqueciMinhaSenha.html">Esqueci minha senha</a>
            </div>
            
            <button type="submit" class="submit-button">Entrar</button>
            <br>
            <br>
            <button class="custom-google-btn" onclick="googleSignIn()">
                <img src="Logo-Google-G.png" alt="Google Logo">
                oogle
            </button>
            

            <div class="input-container">
            <a href="Cadastrar.html">Cadastrar</a>
            </div>
      </form>
    </div>
 </body>
</html>