<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
  <title>B.A.D.E.S.P - Entrar</title>

  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <script>

    function handleCredentialResponse(response) {
      fetch("{{ tipo }}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ credential: response.credential })
      })
        .then(res => res.json())
        .then(data => {
          if (data.status === "ok") {
            window.location.href = "/Inicio";
          } else {
            alert("Erro no login Google.");
          }
        });
    }

    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "177205671715-238eoh4gfa3qusnfuuaa9jmctiot8vno.apps.googleusercontent.com",
        callback: handleCredentialResponse
      });

      google.accounts.id.renderButton(
        document.getElementById("googleSignInBtn"),
        { theme: "outline", size: "large" }
      );
    };
  </script>
</head>

<body>
  <div class="container">
    {% if tipo == '/Login/Secretaria/callback' %}
    <form action="{{ url_for('rotalogin.login_secretaria') }}" method="POST">

      <br>

      <h1>Entrar Secretaria</h1>

      <br><br>

      <div id="googleSignInBtn"></div>

      <br>
      <a href="/Ajuda" style="color:rgb(128, 40, 210);">Alguma Dúvida Referente ao site?</a>
      <br><br>
    </form>
    {% elif tipo == '/Login/Professor/callback' %}
    <form action="{{ url_for('rotalogin.login_professor') }}" method="POST">

      <br>

      <h1>Entrar Professor</h1>

      <br><br>

      <div id="googleSignInBtn"></div>

      <br>
      <a href="/Ajuda" style="color:rgb(128, 40, 210);">Alguma Dúvida Referente ao site?</a>
      <br><br>
    </form>
    {% else %}
    <form action="{{ url_for('rotalogin.cadastro') }}" method="POST">

      <br>

      <h1>Entrar</h1>

      <br><br>

      <div id="googleSignInBtn"></div>

      <br>
      <a href="/Ajuda" style="color:rgb(128, 40, 210);">Alguma Dúvida Referente ao site?</a>
      <br><br>
    </form>
    {% endif %}
  </div>
</body>

</html>