<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='OIP.jpg') }}">
  <title>SNEP - Início</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
  <script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>
</head>

<body>
  <header class="Cabecalho">
    <nav>
      <h1 class="nome">Segurança Nas Escolas Públicas</h1>
    </nav>

    <button class="menu-btn">☰</button>

    <!-- Menu lateral -->
    <nav class="sidebar">
      <ul>
        <li><a href="/Inicio">Início</a></li>
        <li><a href="/Ajuda">Ajuda</a></li>
        <li><a href="/Denuncia">Fazer Denúncia</a></li>
        <li><a href="/Logout" onclick="return confirmarLogout()"><i class="fas fa-user-circle"></i>Deslogar</a></li>
        <li><a href="/MudarPin"><i class="fas fa-cog"></i> Mudar o PIN</a></li>
      </ul>
    </nav>
  </header>

    <h2>Bem Vindo {{ usuario[1] }}!</h2>
    <p><b>Email:</b> {{ usuario[2] }}</p>
    <img src="{{ usuario[3] }}" alt="Foto do usuário" style="border-radius:50%">

  <div class="painel-container">
    <h1>Painel de Denúncias</h1>
    <div id="denuncias-container">
      {% if denuncias %}
        {% for d in denuncias %}
          <div class="denuncia-card" id="denuncia-{{ d[0] }}">
            <h3>{{ d[1] }}</h3>
            <p>Ocorrido: {{ d[2] }}</p>
            <p>Denúncia: {{ d[3] }}</p>
            <p>Data: {{ d[4] }}</p>
            {% if d[5] == 'Aprovado.' %}
              <p><span style="color: rgb(0, 255, 0);">Situação:  Aprovado por {{ d[7] }}</span></p>
            {% elif d[5] == 'Recusado.' %}
              <p><span style="color: red;">Situação: Recusado por {{ d[7] }}</span></p>
            {% elif d[5] == 'Arquivado.' %}
              <p><span style="color: rgb(198, 198, 198);">Situação: Arquivado por {{ d[7] }}<span><p>
            {% elif d[5] == 'Visto.' %}
              <p><span style="color: orange;">Situação: Visto por {{ d[7] }}<span><p>
            {% else %}
              <p><span style="color: rgb(255, 255, 255);">Situação: Em Análise</span></p>
            {% endif %}
            {% if d[5] == 'Em Análise.' or d[5] == 'Expirada.' %}
              <form class="apagar-form" action="{{ url_for('rotas.excluir_denuncia', id=d[0]) }}" method="POST">
                <button type="submit">Apagar</button>
              </form>
            {% else %}
            <div class="botãooff">
              <form class="apagar-form" action="{{ url_for('rotas.excluir_denuncia', id=d[0]) }}" method="POST">
                <button type="submit" disabled>Apagar</button>
              </form>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <p>Nenhuma denúncia cadastrada.</p>
      {% endif %}
    </div>
  </div>

  <script>
    // Toggle menu lateral
    const btn = document.querySelector('.menu-btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => {
      sidebar.classList.toggle('active');
    });


    function confirmarLogout() {
      
    return confirm("Você tem certeza que quer deslogar?");
    }

  </script>


</body>
</html>
