<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pin.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=pin" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">
    <title>B.A.D.E.S.P - AlterarPIN</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=pin" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="cabecalho glass">
        <button class="menu-btn"><span class="material-icons">menu</span></button>
        <h1 class="titulo">B.A.D.E.S.P</h1>
        <div class="perfil">
            <img src="{{ usuario[3] }}" alt="Logado como: {{ usuario[1] }}">
        </div>
    </header>

    <nav class="sidebar glass sobreposto">
        <ul>
            <li><a href="/Inicio"><span class="material-icons">home</span> Início</a></li>
            <li><a href="/Ajuda"><span class="material-icons">help_outline</span> Ajuda</a></li>
            <li><a href="/MudarPIN"><span class="material-icons">pin</span> Mudar o PIN</a></li>
            <li><a href="/Turmas"><span class="material-icons">pin</span> Turmas</a></li>

            <li><a href="/Logout" class="logout" onclick="confirmarLogout()"><span class="material-icons">logout</span>
                    Deslogar</a></li>
        </ul>
    </nav>

    {% if tipo == 'Aluno' %}
    <main>
        <div class="container">
            <h2>Alterar PIN</h2>
            <p>Turmas disponiveis:</p>
            <br>
            <form id="alterar-pin-form" method="POST" autocomplete="off">
                <div class="input-container select-seta">
                    <label for="select-turma" class="sr-only">Selecione a turma</label>
                    <select id="select-turma" name="turma" required>
                        <option value="" disabled selected>Selecione a turma</option>
                        {% for turma in alunos_por_turma.keys() %}
                        {% if not turma == 'None°None' %}                        
                        <option value="{{ turma }}">{{ turma }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div id="container-aluno" class="input-container select-seta" style="display:none;">
                    <label for="select-aluno" class="sr-only">Selecione o aluno</label>
                    <select id="select-aluno" name="aluno" required>
                        <option value="" disabled selected>Selecione um aluno</option>
                    </select>
                </div>

                <div class="input-container">
                    <label for="pin" class="sr-only">PIN</label>
                    <input placeholder="PIN" type="text" name="pin" id="pin" required maxlength="6" minlength="6"
                        pattern="\d{6}" title="O PIN deve ter 6 números"
                        oninput="this.value = this.value.replace(/\D/g, '')">
                </div>

                <div class="input-container">
                    <label for="confirmar" class="sr-only">Confirmar PIN</label>
                    <input placeholder="Confirmar PIN" type="text" name="confirmar" id="confirmar" required
                        maxlength="6" minlength="6" pattern="\d{6}" title="O PIN deve ter 6 números"
                        oninput="this.value = this.value.replace(/\D/g, '')">
                </div>

                <button type="submit" class="submit-button">Confirmar</button>
            </form>
        </div>
    </main>
    {% elif tipo == 'Gestão' %}
    <main>
        <div class="container">
            <h1>Alterar PIN</h1>
            <br>

            <form method="POST" id="alterar-pin-form" autocomplete="off">

                <div class="input-container">
                    <input placeholder="PIN" type="text" name="pin" id="pin" required maxlength="6" minlength="6"
                        pattern="\d{6}" title="O PIN deve ter 6 números"
                        oninput="this.value = this.value.replace(/\D/g, '')">
                </div>

                <div class="input-container">
                    <input placeholder="Confirmar PIN" type="text" name="confirmar" id="confirmar" required
                        maxlength="6" minlength="6" pattern="\d{6}" title="O PIN deve ter 6 números"
                        oninput="this.value = this.value.replace(/\D/g, '')">
                </div>

                <button type="submit" class="submit-button">Confirmar</button>
            </form>
        </div>
    </main>
    {% else %}
    <p>Erro.</p>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const alunosPorTurma = {{ alunos_por_turma | tojson
        }};
        const selectTurma = document.getElementById("select-turma");
        const selectAluno = document.getElementById("select-aluno");
        const containerAluno = document.getElementById("container-aluno");
        const form = document.getElementById("alterar-pin-form");
        const pinInput = document.getElementById("pin");
        const confirmarInput = document.getElementById("confirmar");

        function atualizarAlunos() {
            const turmaSelecionada = selectTurma.value;
            selectAluno.innerHTML = '<option value="" disabled selected>Selecione um aluno</option>';

            if (turmaSelecionada && alunosPorTurma[turmaSelecionada]) {
                alunosPorTurma[turmaSelecionada].forEach(aluno => {
                    if (!aluno) return;
                    const option = document.createElement("option");
                    option.value = aluno;
                    option.textContent = aluno;
                    selectAluno.appendChild(option);
                });
                containerAluno.style.display = "block";
            } else {
                containerAluno.style.display = "none";
            }
        }

        selectTurma.addEventListener('change', atualizarAlunos);

        atualizarAlunos();
        });
    </script>

    <script>
        const btn = document.querySelector('.menu-btn');
        const sidebar = document.querySelector('.sidebar');

        btn.addEventListener('click', () => sidebar.classList.toggle('ativo'));

        function confirmarLogout() {
            if (confirm("Deseja realmente sair?")) {
                alert("Logout realizado com sucesso!");
            }
        }

        // ===== FECHAR MENU CLICANDO FORA + REDIRECIONAR P/ INÍCIO =====
        document.addEventListener("click", (e) => {
            const clicouFora = !sidebar.contains(e.target) && !btn.contains(e.target);

            if (sidebar.classList.contains("ativo") && clicouFora) {
                sidebar.classList.remove("ativo");
            }
        });
    </script>

    <script>
        function validarPin() {
            const pin = document.getElementById("pin").value;
            const confirmar = document.getElementById("confirmar").value;

            if (pin !== confirmar) {
                alert("Os PINs não coincidem!");
                return false;
            }

            if (pin === "000000") {
                alert("PIN inválido! Não pode ser 000000.");
                return false;
            }

            return true;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById("alterar-pin-form");

            form.addEventListener('submit', function (event) {
                if (!validarPin()) {
                    event.preventDefault();
                }
            });
        });
    </script>

</body>

</html>