<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='OIP.jpg') }}">
    <title>BADESP - AlterarPIN</title>
</head>

<body>
    <div class="container">
        <h1>Alterar PIN</h1>

        <!-- Formulário -->
        <form method="POST" onsubmit="return validarPin()"
            autocomplete="off">

            <div class="input-container">
                <input placeholder="PIN" type="text" name="pin" id="pin" required maxlength="6" minlength="6"
                    pattern="\d{6}" title="O PIN deve ter 6 números"
                    oninput="this.value = this.value.replace(/\D/g, '')">
            </div>

            <div class="input-container">
                <input placeholder="Confirmar PIN" type="text" name="confirmar" id="confirmar" required maxlength="6"
                    minlength="6" pattern="\d{6}" title="O PIN deve ter 6 números"
                    oninput="this.value = this.value.replace(/\D/g, '')">
            </div>

            <button type="submit" class="submit-button">Confirmar</button>
        </form>
    </div>

    <script>

        const alunosPorTurma = {{ alunos_por_turma| tojson }};

        function atualizarAlunos() {
            const turmaSelecionada = document.getElementById("select-turma").value;
            const selectAluno = document.getElementById("select-aluno");
            const containerAluno = document.getElementById("container-aluno");

            selectAluno.innerHTML = '<option value="" disabled selected>Selecione um aluno</option>';

            if (turmaSelecionada && alunosPorTurma[turmaSelecionada]) {
                alunosPorTurma[turmaSelecionada].forEach(aluno => {
                    if (!aluno) return; // ignora None ou vazio
                    const option = document.createElement("option");
                    option.value = aluno;
                    option.textContent = aluno;
                    selectAluno.appendChild(option);
                });
                containerAluno.style.display = "block";
            } else {
                containerAluno.style.display = "none";
            }
        }
        // valida o PIN antes de enviar
        function validarPin() {
            const pin = document.getElementById("pin").value;
            const confirmar = document.getElementById("confirmar").value;
            if (pin !== confirmar) {
                alert("Os PINs não coincidem!");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>