<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='secretaria.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.png') }}">
  <title>B.A.D.E.S.P - Painel de Denúncias</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=pin" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=campaign" />
</head>

<body>
  <header class="cabecalho glass">
    <button class="menu-btn"><span class="material-icons">menu</span></button>
    <h1 class="titulo">B.A.D.E.S.P</h1>
    <div class="perfil">
        {% if usuario %}
        <p>Bem vindo: {{ usuario['nome'] }}!</p>
        {% elif usuario2 %}
        <p>Bem vindo: {{ usuario2['nome'] }}!</p>
        {% elif nome %}
        <p>Bem vindo: {{ nome }}!</p>
        {% else %}
        <p>Bem vindo: Convidado!</p>
        {% endif %}
    </div>
  </header>

  <nav class="sidebar glass sobreposto">
    <ul>
      <li><a href="/Inicio"><span class="material-icons">home</span> Início</a></li>
      <li><a href="/Ajuda"><span class="material-icons">help_outline</span> Ajuda</a></li>
      <li><a href="/MudarPIN"><span class="material-icons">pin</span> Mudar PIN</a></li>
      <li><a href="/Turmas"><span class="material-icons">groups</span> Turmas</a></li>
      <li><a href="/Feedback"><span class="material-icons">campaign</span> Feedback</a></li>

      <li><a href="/Logout" class="logout" onclick="confirmarLogout()"><span class="material-icons">logout</span>
          Deslogar</a></li>
    </ul>
  </nav>

  <main>
    <h2 class="subtitulo">Painel de Denúncias</h2>
    <div class="denuncia">
        {% if reports %}
        {% for d in reports %}
        {% set cor = "white" %}
        {% set nome = "📂Denúncia em aberto📂 " %}

        {% if d['gravidade'] == 'Aprovado.' %}
        {% set cor = "rgb(0, 255, 0)" %}
        {% set nome = "✔️Aprovado por: " ~ d['visto'] ~ '✔️' %}
        {% elif d['gravidade'] == 'Recusado.' %}
        {% set cor = "red" %}
        {% set nome = "❌Recusado por: " ~ d['visto'] ~ '❌' %}
        {% elif d['gravidade'] == 'Arquivado.' %}
        {% set cor = "gray" %}
        {% set nome = "🗃️Arquivado por: " ~ d['visto'] ~ '🗃️' %}
        {% endif %}

        {% if d['gravidade'] == 'Alta' %}
        {% set corr = "red" %}
        {% set nome = '⚠️Gravidade Grave!⚠️' %}
        {% elif d['gravidade'] == 'Média' %}
        {% set corr = "yellow" %}
        {% set nome = '⚠️Gravidade Média!⚠️' %}
        {% elif d['gravidade'] == 'Baixa' %}
        {% set corr = "rgb(0, 255, 0)" %}
        {% set nome = '⚠️Gravidade Baixa!⚠️' %}
        {% else %}
        {% set corr = "white" %}
        {% set corzin = 'black' %}
        {% set nome = '⚠️Erro ao Calcular Gravidade!⚠️' %}
        {% endif %}

        <form action="{{ url_for('rotasecretaria.detalhe_denuncia', id=d['id']) }}" method="GET">
            <div class="denuncia-card" onclick="verificarPin({{ d['id'] }}, this)">
                <h3>{{ d['titulo'] }}</h3>
                <p><strong>Nome:</strong> {{ d['nome'] }}</p>
                <p><strong>Data:</strong> {{ d['data'] }}</p>
                <span class="gravidade" style="background: {{ corr }}; color: {{ corzin }};">{{ nome }}</span>
            </div>

        </form>

        {% endfor %}

        {% else %}
        <p style="color: white; text-align: center; align-items: center; font-family: arial;">
            Nenhuma denúncia
            encontrada.
        </p>
        {% endif %}

    </div>
    </section>

    <div class="paginacao">
      {% set current_page = page %}
      {% if current_page < 1 %} {% set current_page=1 %} {% elif current_page> total_pages %}
        {% set current_page = total_pages %}
        {% endif %}

        {% if current_page > 1 %}
        <a class='clicar' href="{{ url_for('rotas.reports', page=current_page-1, filtro=filtro) }}">&laquo; Anterior</a>
        {% endif %}

        <span class="Páginaa">Página {{ current_page }} de {{ total_pages }}</span>

        {% if current_page < total_pages %} <a class='clicar'
          href="{{ url_for('rotas.reports', page=current_page+1, filtro=filtro) }}">Próxima &raquo;</a>
          {% endif %}
    </div>

  </main>

  <script>
    const btn = document.querySelector('.menu-btn');
    const sidebar = document.querySelector('.sidebar');

    btn.addEventListener('click', () => sidebar.classList.toggle('ativo'));

    function confirmarLogout(e) {
      e.preventDefault();          // trava o link
      e.stopPropagation();        // trava qualquer outro evento

      if (confirm("Deseja realmente sair?")) {
        window.location.href = "/Logout";
      }

      return false;
    }

    // ===== FECHAR MENU CLICANDO FORA + REDIRECIONAR P/ INÍCIO =====
    document.addEventListener("click", (e) => {
      const clicouFora = !sidebar.contains(e.target) && !btn.contains(e.target);

      if (sidebar.classList.contains("ativo") && clicouFora) {
        sidebar.classList.remove("ativo");
      }
    });
  </script>

  <script>
    async function verificarPin(denunciaId, cardElement) {
      const nome = cardElement.querySelector("h3").textContent;

      const confirmar = confirm(
        "Você tem certeza que deseja abrir? Após aberto não poderá mais ser deletado e o aluno SABERÁ que foi você quem a abriu."
      );
      if (!confirmar) return;

      const form = document.createElement("form");
      form.method = "POST";
      form.action = `/allow_detail`;
      document.body.appendChild(form);

      const inputIdzin = document.createElement("input");
      inputIdzin.type = "hidden";
      inputIdzin.name = "idzin";
      inputIdzin.value = denunciaId
      form.appendChild(inputIdzin);
      document.body.appendChild(form);
      form.submit();
    }
  </script>

    <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  
</body>

</html>