<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNEP - Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='secretaria.css') }}">
    <script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>
     <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='OIP.jpg') }}">
 </head>
 <header class="Cabecalho">
    
    <h1 class="nome">S.N.E.P</h1>
    
    <button class="menu-btn">☰</button>

    <nav class="sidebar">
      <ul>
        <li><a href="/Inicio">Início</a></li>
        <li><a href="/Ajuda">Ajuda</a></li>
        <li><a href="/Denuncia">Fazer Denúncia</a></li>
        <li><a href="/Logout" onclick="return confirmarLogout()"><i class="fas fa-user-circle"></i>Deslogar</a></li>
        <li><a href="/MudarPin"> Mudar o PIN</a></li>
      </ul>
    </nav>

    <div class="profile-icon">
      <img src="{{ usuario[3] }}">
    </div>

  </header>
 <body>
    <h2 style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Bem Vindo Secretário(a): {{ usuario[1] }}</h2>
      <form method="GET" action="{{ url_for('rotas.inicio') }}">
        <select name="filtro" onchange="this.form.submit()">
          <option value="Tudo" {% if filtro == "Tudo" %}selected{% endif %}>Tudo</option>
          <option value="Aprovado" {% if filtro == "Aprovado" %}selected{% endif %}>Aprovado</option>
          <option value="Recusado" {% if filtro == "Recusado" %}selected{% endif %}>Recusado</option>
          <option value="Arquivado" {% if filtro == "Arquivado" %}selected{% endif %}>Arquivado</option>
          <option value="Aberto" {% if filtro == "Aberto" %}selected{% endif %}>Aberto</option>
        </select>
      </form>

<div class="grid-container">
{% if denuncias %}
  {% for d in denuncias %}
    {% set cor = "white" %}
    {% set nome = "📂Denúncia em aberto📂 " %}

    {% if d[5] == 'Aprovado.' %}
      {% set cor = "rgb(0, 255, 0)" %}
      {% set nome = "✔️Aprovado por: " ~ d[7] ~ '✔️' %}
    {% elif d[5] == 'Recusado.' %}
      {% set cor = "red" %}
      {% set nome = "❌Recusado por: " ~ d[7] ~ '❌' %}
    {% elif d[5] == 'Arquivado.' %}
      {% set cor = "gray" %}
      {% set nome = "🗃️Arquivado por: " ~ d[7] ~ '🗃️' %}
    {% elif d[5] == 'Visto.' %}
      {% set cor = "rgb(255, 150, 0)" %}
      {% set nome = "🔎Visualizado por: " ~ d[7] ~ ' ás ' ~ d[10] ~ '🔎'%}
    {% endif %}

    <form action="{{ url_for('rotasecretaria.detalhe_denuncia', id=d[0]) }}" method="GET" onclick="return confirmarAbrir()">
      <div class="grid-item">
        <button type="submit" style="color: {{ cor }}">
          {{ d[1] }} <br>
          Nome: {{ d[6] }} <br>
          Data: {{ d[4] }} <br><br>
          {{ nome }}
        </button>
      </div>
    </form>
  {% endfor %}
  {% else %}
    <p>Nenhuma denúncia encontrada.</p>
{% endif %}

</div>

<div class="pagination">
{% set current_page = page %}
{% if page > total_pages %}
  {% set current_page = total_pages %}
{% elif page < 1 %}
  {% set current_page = 1 %}
{% endif %}

<div class="pagination">
  {% if current_page > 1 %}
    <a href="{{ url_for('rotas.inicio', page=current_page-1, filtro=filtro) }}">&laquo; Anterior</a>
  {% endif %}

  <span>Página {{ current_page }} de {{ total_pages }}</span>

  {% if current_page < total_pages %}
    <a href="{{ url_for('rotas.inicio', page=current_page+1, filtro=filtro) }}">Próxima &raquo;</a>
  {% endif %}
</div>


</div>
    <script>
      // Toggle menu lateral
      const btn = document.querySelector('.menu-btn');
      const sidebar = document.querySelector('.sidebar');
      btn.addEventListener('click', () => {
        sidebar.classList.toggle('active');
      });
  
      function confirmarLogout() {
        return confirm("Você tem certeza que quer deslogar?");
      }
  
      function confirmarAbrir() {
        return confirm("Você tem certeza que deseja abrir? Após aberto não poderá mais ser deletado e o usuario SABERÁ que foi você quem abriu");
      }

      function toggleProfileMenu() {
    var menu = document.getElementById("profile-menu");
    menu.classList.toggle("show"); 
}

    </script>
 </body>
</html>