<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de denuncia da secretaria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libertinus+Serif+Display&family=Monoton&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='secretaria.css') }}">
  </head>
 <header class="Cabecalho">
    
    <h1 class="nome">S.N.E.P</h1>
    
    <button class="menu-btn">☰</button>

    <nav class="sidebar">
      <ul>
       <li><a href="/Inicio">Início</a></li>
       <li><a href="/Ajuda">Ajuda</a></li>
       <li><a href="/Denuncia">Ver Denuúncia</a></li>
      </ul>
    </nav>

    <div class="profile-icon">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThaDdrWoAkJBjmrzKH_9LeHbsHywYHLPfEdA&s" height onclick="toggleProfileMenu()"="50">
         <div id="profile-menu" class="profile-menu">
           <ul>
             <li><a href="#"><i class="fas fa-user-circle"></i>Meu Perfil</a></li>
             <li><a href="#"><i class="fas fa-cog"></i>Configurações</a></li>
             <li><a href="#" onclick="return confirmarLogout()"><i class="fas fa-user-circle"></i>Deslogar</a></li>
           </ul>
        </div>
    </div>

  </header>

 <body>
   <h6 class="mensagem">Bem Vindo Secretário</h6>
      <form  class="filtro" method="GET" action="{{ url_for('rotas.inicio') }}">
        <select name="filtro" onchange="this.form.submit()">
          <option value="Tudo" {% if filtro == "Tudo" %}selected{% endif %}>Tudo</option>
          <option value="Aprovado" {% if filtro == "Aprovado" %}selected{% endif %}>Aprovado</option>
          <option value="Recusado" {% if filtro == "Recusado" %}selected{% endif %}>Recusado</option>
          <option value="Arquivado" {% if filtro == "Arquivado" %}selected{% endif %}>Arquivado</option>
          <option value="Aberto" {% if filtro == "Aberto" %}selected{% endif %}>Aberto</option>
        </select>
      </form>

      <div class="grid-container">
        <div class="grid-item"><button>Denuncia 1</button></div>
        <div class="grid-item"><button>Denuncia 2</button></div>
        <div class="grid-item"><button>Denuncia 3</button></div>
        <div class="grid-item"><button>Denuncia 4</button></div>
    </div>
 </body>
</html>
 